---
http_interactions:
- request:
    method: get
    uri: https://api.surveymonkey.com/v3/surveys
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer faketoken
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Sm-Request-Id:
      - e23bccac-42da-4bb5-bba7-ff18d3ebb2be
    body:
      encoding: UTF-8
      string: '{"error": {"docs": "https://developer.surveymonkey.com/api/v3/#error-codes",
        "message": "The authorization token provided was invalid.", "id": "1011",
        "name": "Authorization Error", "http_status_code": 401}}'
  recorded_at: Sun, 21 Oct 2018 17:32:28 GMT
recorded_with: VCR 4.0.0
