---
http_interactions:
- request:
    method: get
    uri: https://api.surveymonkey.com/v3/surveys/160281378/responses
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <REDACTED>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-App-Global-Minute-Limit:
      - '120'
      X-Ratelimit-App-Global-Minute-Remaining:
      - '112'
      X-Ratelimit-App-Global-Minute-Reset:
      - '0'
      X-Ratelimit-App-Global-Day-Limit:
      - '500'
      X-Ratelimit-App-Global-Day-Remaining:
      - '468'
      X-Ratelimit-App-Global-Day-Reset:
      - '18120'
      Link:
      - <https://api.surveymonkey.net/v3/surveys/160281378/responses?page=1&per_page=50>;
        rel="self"
      Sm-Request-Id:
      - d65a9924-ac38-473d-9d09-70cd242bcb18
      X-Oauth-Scopes-Granted:
      - responses_read,responses_read_detail,surveys_read
      X-Oauth-Scopes-Available:
      - users_read,surveys_read,collectors_read,collectors_write,contacts_read,contacts_write,surveys_write,responses_read,webhooks_read,webhooks_write,library_read
    body:
      encoding: UTF-8
      string: '{"per_page":50,"total":2,"data":[{"href":"https:\/\/api.surveymonkey.com\/v3\/surveys\/160281378\/responses\/10293593282","id":"10293593282"},{"href":"https:\/\/api.surveymonkey.com\/v3\/surveys\/160281378\/responses\/10293595540","id":"10293595540"}],"page":1,"links":{"self":"https:\/\/api.surveymonkey.net\/v3\/surveys\/160281378\/responses?page=1&per_page=50"}}'
  recorded_at: Sun, 21 Oct 2018 18:57:59 GMT
- request:
    method: get
    uri: https://api.surveymonkey.com/v3/surveys/160281378/responses/10293593282/details
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <REDACTED>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-App-Global-Minute-Limit:
      - '120'
      X-Ratelimit-App-Global-Minute-Remaining:
      - '119'
      X-Ratelimit-App-Global-Minute-Reset:
      - '59'
      X-Ratelimit-App-Global-Day-Limit:
      - '500'
      X-Ratelimit-App-Global-Day-Remaining:
      - '467'
      X-Ratelimit-App-Global-Day-Reset:
      - '18119'
      Sm-Request-Id:
      - c2319dc2-da28-441a-834b-4d51b85a2e20
      X-Oauth-Scopes-Granted:
      - responses_read,responses_read_detail,surveys_read
      X-Oauth-Scopes-Available:
      - users_read,surveys_read,collectors_read,collectors_write,contacts_read,contacts_write,surveys_write,responses_read,webhooks_read,webhooks_write,library_read
    body:
      encoding: ASCII-8BIT
      string: '{"total_time":41,"href":"https:\/\/api.surveymonkey.com\/v3\/surveys\/160281378\/responses\/10293593282","custom_variables":{},"ip_address":"71.63.174.8","id":"10293593282","logic_path":{},"date_modified":"2018-10-21T17:54:17+00:00","response_status":"completed","custom_value":"","analyze_url":"https:\/\/www.surveymonkey.com\/analyze\/browse\/6oYd5R94ei6uEhoHBOhalu2LM7_2B2ALTVdbA7CPPkcYY_3D?respondent_id=10293593282","pages":[{"id":"46837222","questions":[{"id":"163029141","answers":[{"choice_id":"1146593563"}]},{"id":"163029144","answers":[{"text":"Reprehenderit
        repudiandae possimus optio. Rerum enim eligendi quia. Ex autem nam ea sed
        sapiente suscipit corporis. Et nulla aliquid. Blanditiis ut repellat adipisci
        sed maxime. Voluptatem inventore assumenda optio quia quia. Est impedit odio
        est nobis dolor distinctio aut. At placeat delectus nulla. Iusto omnis tenetur
        harum perferendis optio quasi. Eaque eum ipsum fugiat voluptas sunt cupiditate.\r\n"}]},{"id":"163029145","answers":[{"text":"Harum
     [...]
[...]
