---
http_interactions:
- request:
    method: get
    uri: https://api.surveymonkey.com/v3/surveys/43502721/details
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <REDACTED>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-App-Global-Minute-Limit:
      - '120'
      X-Ratelimit-App-Global-Minute-Remaining:
      - '119'
      X-Ratelimit-App-Global-Minute-Reset:
      - '13'
      X-Ratelimit-App-Global-Day-Limit:
      - '500'
      X-Ratelimit-App-Global-Day-Remaining:
      - '483'
      X-Ratelimit-App-Global-Day-Reset:
      - '21853'
      Sm-Request-Id:
      - 6086a9d0-ba80-4030-b968-2a92f78293ef
      X-Oauth-Scopes-Granted:
      - collectors_read,responses_read_detail,surveys_read,responses_read
      X-Oauth-Scopes-Available:
      - users_read,surveys_read,collectors_read,collectors_write,contacts_read,contacts_write,surveys_write,responses_read,responses_read_detail,responses_write,groups_read,webhooks_read,webhooks_write,library_read,workgroups_read,workgroups_write,workgroups_members_read,workgroups_members_write,roles_read,roles_write,workgroups_shares_read,workgroups_shares_write
    body:
      encoding: ASCII-8BIT
      string: '{"response_count":4,"page_count":6,"date_created":"2013-08-12T22:05:00","buttons_text":{"done_button":"Done","prev_button":"Prev","exit_button":"","next_button":"Next"},"folder_id":"0","custom_variables":{"custom_var_b":"date","custom_var_a":"time"},"nickname":"","id":"43502721","question_count":29,"category":"","preview":"https:\/\/www.surveymonkey.com\/r\/Preview\/?sm=rc8ulIlMim8U_2B2DZJvoXDPw2KZrtvyadElaut0WHOkJJpjKqL79zThVxVpDXaPUz","is_owner":true,"language":"en","footer":false,"date_modified":"2014-04-11T22:28:00","analyze_url":"https:\/\/www.surveymonkey.com\/analyze\/MayZxF9z93_2BVU9jsmFxucM9jsHMMUOtmDkNB7INulkc_3D","pages":[{"href":"https:\/\/api.surveymonkey.com\/v3\/surveys\/43502721\/pages\/143202535","description":"","questions":[{"display_options":{"show_display_number":false},"sorting":null,"family":"presentation","subtype":"descriptive_text","required":null,"visible":true,"href":"https:\/\/api.surveymonkey.com\/v3\/surveys\/43502721\/pages\/143202535\/questions\/553892406","headings":[{"random_assignment":{"position":1,"percent":33.34,"id":"6438914514","variable_name":"Text
        Random Assignment - Text 1"},"heading":"Rand1"},{"random_assignment":{"position":2,"percent":33.33,"id":"6438914516","variable_name":"Text
        Random Assignment - Text 2"},"heading":"Rand2"},{"random_assignment":{"position":3,"percent":33.33,"id":"6438914518","variable_name":"Text
        Random Assignment - Text 3"},"heading":"Rand3"}],"position":1,"validation":null,"id":"553892406","forced_ranking":false},{"sorting":null,"family":"single_choice","subtype":"horiz","required":null,"answers":{"other":{"id":"6443474731","visible":true,"is_answer_choice":false,"apply_all_rows":false,"text":"Other
        (please specify)","position":0,"num_chars":50,"error_text":"","num_lines":1},"choices":[{"quiz_options":{"score":0},"visible":true,"text":"HorizontalChoice1","position":1,"id":"6443474735"},{"quiz_options":{"score":0},"visible":true,"text":"HorizontalChoice2","position":2,"id":"6443474736"},{"quiz_options":{"score":0},"visible":true,"text":"HorizontalChoice3","position":3,"id":"6443474737"},{"quiz_options":{"score":0},"visible":true,"text":"HorizontalChoice4","position":4,"id":"6443474738"},{"quiz_options":{"score":0},"visible":true,"text":"HorizontalChoice5","position":5,"id":"6443474739"}]},"visible":true,"href":"https:\/\/api.surveymonkey.com\/v3\/surveys\/43502721\/pages\/143202535\/questions\/554289973","headings":[{"heading":"Multiple
        Choice (One Answer, Horizontal, with ''other'')"}],"position":2,"validation":{"sum_text":"","min":null,"text":"The
        comment you entered is in an invalid format.","sum":null,"max":null,"type":"any"},"id":"554289973","forced_ranking":false},{"sorting":null,"family":"single_choice","subtype":"vertical","required":null,"answers":{"choices":[{"quiz_options":{"score":0},"visible":true,"text":"Choice1","position":1,"id":"6438917822"},{"quiz_options":{"score":0},"visible":true,"text":"Choice2","position":2,"id":"6438917823"},{"quiz_options":{"score":0},"visible":true,"text":"Choice3","position":3,"id":"6438917824"},{"quiz_options":{"score":0},"visible":true,"text":"Choice4","position":4,"id[...]
