---
http_interactions:
- request:
    method: get
    uri: https://api.surveymonkey.com/v3/surveys/43502721/responses
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <REDACTED>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-App-Global-Minute-Limit:
      - '120'
      X-Ratelimit-App-Global-Minute-Remaining:
      - '119'
      X-Ratelimit-App-Global-Minute-Reset:
      - '51'
      X-Ratelimit-App-Global-Day-Limit:
      - '500'
      X-Ratelimit-App-Global-Day-Remaining:
      - '482'
      X-Ratelimit-App-Global-Day-Reset:
      - '21831'
      Link:
      - <https://api.surveymonkey.net/v3/surveys/43502721/responses?page=1&per_page=50>;
        rel="self"
      Sm-Request-Id:
      - ebce86b6-fd6f-4055-a025-2b178e8ac15e
      X-Oauth-Scopes-Granted:
      - collectors_read,responses_read_detail,surveys_read,responses_read
      X-Oauth-Scopes-Available:
      - users_read,surveys_read,collectors_read,collectors_write,contacts_read,contacts_write,surveys_write,responses_read,responses_read_detail,responses_write,groups_read,webhooks_read,webhooks_write,library_read,workgroups_read,workgroups_write,workgroups_members_read,workgroups_members_write,roles_read,roles_write,workgroups_shares_read,workgroups_shares_write
    body:
      encoding: UTF-8
      string: '{"per_page":50,"total":4,"data":[{"href":"https:\/\/api.surveymonkey.com\/v3\/surveys\/43502721\/responses\/2760417194","id":"2760417194"},{"href":"https:\/\/api.surveymonkey.com\/v3\/surveys\/43502721\/responses\/2765801720","id":"2765801720"},{"href":"https:\/\/api.surveymonkey.com\/v3\/surveys\/43502721\/responses\/3178142281","id":"3178142281"},{"href":"https:\/\/api.surveymonkey.com\/v3\/surveys\/43502721\/responses\/2778871364","id":"2778871364"}],"page":1,"links":{"self":"https:\/\/api.surveymonkey.net\/v3\/surveys\/43502721\/responses?page=1&per_page=50"}}'
  recorded_at: Sun, 04 Nov 2018 17:56:08 GMT
- request:
    method: get
    uri: https://api.surveymonkey.com/v3/surveys/43502721/responses/2760417194/details
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <REDACTED>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-App-Global-Minute-Limit:
      - '120'
      X-Ratelimit-App-Global-Minute-Remaining:
      - '118'
      X-Ratelimit-App-Global-Minute-Reset:
      - '50'
      X-Ratelimit-App-Global-Day-Limit:
      - '500'
      X-Ratelimit-App-Global-Day-Remaining:
      - '481'
      X-Ratelimit-App-Global-Day-Reset:
      - '21830'
      Sm-Request-Id:
      - 9a45c913-5754-420f-b3c6-13bb5980b34e
      X-Oauth-Scopes-Granted:
      - collectors_read,responses_read_detail,surveys_read,responses_read
      X-Oauth-Scopes-Available:
      - users_read,surveys_read,collectors_read,collectors_write,contacts_read,contacts_write,surveys_write,responses_read,responses_read_detail,responses_write,groups_read,webhooks_read,webhooks_write,library_read,workgroups_read,workgroups_write,workgroups_members_read,workgroups_members_write,roles_read,roles_write,workgroups_shares_read,workgroups_shares_write
    body:
      encoding: ASCII-8BIT
      string: '{"total_time":294,"href":"https:\/\/api.surveymonkey.com\/v3\/surveys\/43502721\/responses\/2760417194","custom_variables":{},"ip_address":"71.198.213.183","id":"2760417194","logic_path":{},"date_modified":"2013-08-12T22:37:44+00:00","response_status":"completed","custom_value":"","analyze_url":"https:\/\/www.surveymonkey.com\/analyze\/browse\/MayZxF9z93_2BVU9jsmFxucM9jsHMMUOtmDkNB7INulkc_3D?respondent_id=2760417194","pages":[{"id":"143202535","questions":[{"variable_id":"6438914518","id":"553892406","answers":[{}]},{"id":"553892672","answers":[{"choice_id":"6438917822"}]},{"id":"553892746","answers":[{"choice_id":"6438918766"},{"choice_id":"6438918764"}]},{"id":"553892857","answers":[{"choice_id":"6438920434"}]},{"id":"553893036","answers":[{"choice_id":"6438922563"},{"choice_id":"6438922560"}]}]},{"id":"143202738","questions":[{"id":"553893214","answers":[{"choice_id":"6438924501","row_id":"6438924495"},{"choice_id":"6438924500","row_id":"6438924496"},{"choice_id":"6438924499","row_id":"6438924493"},{"choice_id":"6438924498","row_id":"6438924494"},{"choice_id":"6438924497","row_id":"6438924492"}]},{"id":"553893347","answers":[{"choice_id":"6438925970","row_id":"6438925958"},{"choice_id":"6438925966","row_id":"6438925954"},{"choice_id":"6438925964","row_id":"6438925956"},{"choice_id":"6438925962","row_id":"6438925951"},{"choice_id":"6438925960","row_id":"6438925953"}]}]},{"id":"143202825","questions":[{"id":"553893587","answers":[{"choice_id":"6438929299","row_id":"6438929304"},{"choice_id":"6438929298","row_id":"6438929303"},{"choice_id":"6438929295","row_id":"6438929302"},{"choice_id":"6438929296","row_id":"6438929301"},{"choice_id":"6438929297","row_id":"6438929300"}]},{"id":"553893749","answers":[{"choice_id":"6438931478","row_id":"6438931483"},{"choice_id":"6438931477","row_id":"6438931482"},{"choice_id":"6438931476","row_id":"6438931481"},{"choice_id":"6438931475","row_id":"6438931480"},{"choice_id":"6438931474","row_id":"6438931479"}]},{"id":"553894121","answers":[{"choice_id":"6438935708","row_id":"6438935716"},{"choice_id":"6438935707","row_id":"6438935715"},{"choice_id":"6438935706","row_id":"6438935714"},{"choice_id":"6438935706","row_id":"6438935713"},{"choice_id":"6438935705","row_id":"6438935712"},{"text":"other
        answer!","other_id":"6438935710"}]},{"id":"553894330","answers":[{"choice_id":"6438938122","row_id":"6438938132"},{"choice_id":"6438938122","row_id":"6438938130"},{"text":"other
        answer!","row_id":"6438938130","other_id":"6438938126"},{"choice_id":"6438938123","row_id":"6438938129"},{"choice_id":"6438938121","row_id":"6438938128"},{"text":"other
        answer with no primary answer!","row_id":"6438938131","other_id":"6438938126"}]}]},{"id":"143203056","questions":[{"id":"553894729","answers":[{"choice_id":"[...]
[...]
- request:
    method: get
    uri: https://api.surveymonkey.com/v3/surveys/43502721/responses/3178142281/details
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <REDACTED>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-App-Global-Minute-Limit:
      - '120'
      X-Ratelimit-App-Global-Minute-Remaining:
      - '116'
      X-Ratelimit-App-Global-Minute-Reset:
      - '49'
      X-Ratelimit-App-Global-Day-Limit:
      - '500'
      X-Ratelimit-App-Global-Day-Remaining:
      - '479'
      X-Ratelimit-App-Global-Day-Reset:
      - '21829'
      Sm-Request-Id:
      - 35fe2b78-f25c-4696-9289-586094dbcf66
      X-Oauth-Scopes-Granted:
      - collectors_read,responses_read_detail,surveys_read,responses_read
      X-Oauth-Scopes-Available:
      - users_read,surveys_read,collectors_read,collectors_write,contacts_read,contacts_write,surveys_write,responses_read,responses_read_detail,responses_write,groups_read,webhooks_read,webhooks_write,library_read,workgroups_read,workgroups_write,workgroups_members_read,workgroups_members_write,roles_read,roles_write,workgroups_shares_read,workgroups_shares_write
    body:
      encoding: ASCII-8BIT
      string: '{"total_time":18,"href":"https:\/\/api.surveymonkey.com\/v3\/surveys\/43502721\/responses\/3178142281","custom_variables":{"custom_var_b":"2014-12-24","custom_var_a":"8:00"},"ip_address":"71.202.125.51","id":"3178142281","logic_path":{},"date_modified":"2014-04-11T22:28:39+00:00","response_status":"completed","custom_value":"","analyze_url":"https:\/\/www.surveymonkey.com\/analyze\/browse\/MayZxF9z93_2BVU9jsmFxucM9jsHMMUOtmDkNB7INulkc_3D?respondent_id=3178142281","pages":[{"id":"143202535","questions":[{"variable_id":"6438914518","id":"553892406","answers":[{}]},{"id":"554289973","answers":[{"choice_id":"6443474737"}]}]},{"id":"143202738","questions":[]},{"id":"143202825","questions":[]},{"id":"143203056","questions":[]},{"id":"143203226","questions":[]},{"id":"143203441","questions":[]}],"page_path":[],"recipient_id":"","collector_id":"44135648","date_created":"2014-04-11T22:28:21+00:00","survey_id":"43502721","collection_mode":"default","edit_url":"https:\/\/www.surveymonkey.com\/r\/?sm=nOsyq8krC8KM9J8uHCFhh_2FG6OGG_2BgKlDFU5ecSyF5oH3PaCo5MvWoihPeTHh93oN","metadata":{}}'
  recorded_at: Sun, 04 Nov 2018 17:56:10 GMT
[...]
