---
http_interactions:
- request:
    method: get
    uri: https://api.surveymonkey.com/v3/surveys
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <REDACTED>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-App-Global-Minute-Limit:
      - '120'
      X-Ratelimit-App-Global-Minute-Remaining:
      - '119'
      X-Ratelimit-App-Global-Minute-Reset:
      - '10'
      X-Ratelimit-App-Global-Day-Limit:
      - '500'
      X-Ratelimit-App-Global-Day-Remaining:
      - '494'
      X-Ratelimit-App-Global-Day-Reset:
      - '23350'
      Link:
      - <https://api.surveymonkey.net/v3/surveys?page=1&per_page=50>; rel="self"
      Sm-Request-Id:
      - b18fc60f-4ecf-4a59-bc7a-42282fbb0133
      X-Oauth-Scopes-Granted:
      - responses_read,responses_read_detail,surveys_read
      X-Oauth-Scopes-Available:
      - users_read,surveys_read,collectors_read,collectors_write,contacts_read,contacts_write,surveys_write,responses_read,webhooks_read,webhooks_write,library_read
    body:
      encoding: UTF-8
      string: '{"per_page":50,"total":1,"data":[{"href":"https:\/\/api.surveymonkey.com\/v3\/surveys\/160281378","nickname":"","id":"160281378","title":"Post-Event
        Feedback Survey"}],"page":1,"links":{"self":"https:\/\/api.surveymonkey.net\/v3\/surveys?page=1&per_page=50"}}'
  recorded_at: Sun, 21 Oct 2018 17:30:49 GMT
- request:
    method: get
    uri: https://api.surveymonkey.com/v3/surveys/160281378/details
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <REDACTED>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-App-Global-Minute-Limit:
      - '120'
      X-Ratelimit-App-Global-Minute-Remaining:
      - '118'
      X-Ratelimit-App-Global-Minute-Reset:
      - '10'
      X-Ratelimit-App-Global-Day-Limit:
      - '500'
      X-Ratelimit-App-Global-Day-Remaining:
      - '493'
      X-Ratelimit-App-Global-Day-Reset:
      - '23350'
      Sm-Request-Id:
      - d1831da3-5702-4f68-b92a-3528e8171c6e
      X-Oauth-Scopes-Granted:
      - responses_read,responses_read_detail,surveys_read
      X-Oauth-Scopes-Available:
      - users_read,surveys_read,collectors_read,collectors_write,contacts_read,contacts_write,surveys_write,responses_read,webhooks_read,webhooks_write,library_read
    body:
      encoding: ASCII-8BIT
      string: '{"response_count":0,"page_count":1,"date_created":"2018-10-20T17:29:00","buttons_text":{"done_button":"Done","prev_button":"Prev","exit_button":"","next_button":"Next"},"folder_id":"0","custom_variables":{},"nickname":"","id":"160281378","question_count":8,"category":"","preview":"https:\/\/www.surveymonkey.com\/r\/Preview\/?sm=WKqrfpqIrJFk9Y1udbloKJYuNlvKRysapSQ8_2BzMqb6nIWnDde5CS0KkuZlVa3Hww","is_owner":true,"language":"en","footer":true,"date_modified":"2018-10-20T17:57:00","analyze_url":"https:\/\/www.surveymonkey.com\/analyze\/6oYd5R94ei6uEhoHBOhalu2LM7_2B2ALTVdbA7CPPkcYY_3D","pages":[{"href":"https:\/\/api.surveymonkey.com\/v3\/surveys\/160281378\/pages\/46837222","description":"","questions":[{"display_options":{"show_display_number":false},"sorting":null,"family":"presentation","subtype":"descriptive_text","required":null,"visible":true,"href":"https:\/\/api.surveymonkey.com\/v3\/surveys\/160281378\/pages\/46837222\/questions\/163029143","headings":[{"heading":"<span
        style=\"font-size: 14pt;\">Thank you for attending test-performance. Your
        feedback will help us to improve future events.<\/span>"}],"position":1,"validation":null,"id":"163029143","forced_ranking":false},{"sorting":null,"family":"single_choice","subtype":"vertical","required":null,"answers":{"choices":[{"quiz_options":{"score":0},"visible":true,"text":"Excellent","position":1,"id":"1146593563"},{"quiz_options":{"score":0},"visible":true,"text":"Very
        good","position":2,"id":"1146593564"},{"quiz_options":{"score":0},"visible":true,"text":"Good","position":3,"id":"1146593565"},{"quiz_options":{"score":0},"visible":true,"text":"Fair","position":4,"id":"1146593566"},{"quiz_options":{"score":0},"visible":true,"text":"Poor","position":5,"id":"1146593567"}]},"visible":true,"href":"https:\/\/api.surveymonkey.com\/v3\/surveys\/160281378\/pages\[...]
